  <div class="navbar main-nav">
        <!-- Open side - Naviation on mobile -->
        <a data-toggle="collapse" data-target="#navbar-main" class="mobile-nav navbar-item pull-left hidden-md-up">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <!-- / -->

        <!-- navbar collapse -->
        <div class="collapse navbar-toggleable-sm" id="navbar-main">

          <!-- link and dropdown -->
          <ul class="nav navbar-nav text-{{app.setting.theme.primary}}-hover">
            <li class="nav-item active">
              <a class="nav-link" href>
                <span class="nav-text">Naslovna</span>
              </a>
            </li>
            <li class="nav-item dopdown">
              <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
                <span class="nav-text">Usluge</span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-item"><a href>Grafički dizajn</a></li>
                <li class="dropdown-item"><a href>Web dizajn i programiranje</a></li>
                <li class="dropdown-item"><a href>Mobilne aplikacije</a></li>
                <li class="dropdown-item"><a href>Online marketing</a></li>
                <li class="dropdown-item"><a href>Pisanje tekstova</a></li>
                <li class="dropdown-item"><a href>Audio i video</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">O nama</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Reference</span>
                <span class="caret"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Blog</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                <span class="nav-text">Kontakt</span>
              </a>
            </li>
          </ul>
          <!-- / link and dropdown -->
        </div>
        <!-- / navbar collapse -->
  </div>
