/* --- Custom CSS --- */
/* ------ Variables ------ */
/* Font settings */
/* Colors */
/* ------ Mixins ------ */
/* Fonts */
/* Gradients */
/* Shadows */
/* ------ Colors ------ */
.bw-50 {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87); }

.bw-100 {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.87); }

.bw-200 {
  background-color: #ccc;
  color: rgba(0, 0, 0, 0.87); }

.bw-300 {
  background-color: #b2b2b2;
  color: rgba(0, 0, 0, 0.87); }

.bw-400 {
  background-color: #999;
  color: rgba(0, 0, 0, 0.87); }

.bw-500 {
  background-color: #808080;
  color: rgba(0, 0, 0, 0.87); }

.bw-600 {
  background-color: #666;
  color: white; }

.bw-700 {
  background-color: #4c4c4c;
  color: white; }

.bw-800 {
  background-color: #333;
  color: white; }

.bw-900 {
  background-color: #1a1a1a;
  color: white; }

.bwm-50 {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87); }

.bwm-100 {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87); }

.bwm-200 {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.87); }

.bwm-300 {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87); }

.bwm-400 {
  background-color: #bdbdbd;
  color: rgba(0, 0, 0, 0.87); }

.bwm-500 {
  background-color: #9e9e9e;
  color: rgba(0, 0, 0, 0.87); }

.bwm-600 {
  background-color: #757575;
  color: white; }

.bwm-700 {
  background-color: #616161;
  color: white; }

.bwm-800 {
  background-color: #424242;
  color: white; }

.bwm-900 {
  background-color: #212121;
  color: white; }

.pink-50 {
  background-color: #fce4ec;
  color: rgba(0, 0, 0, 0.87); }

.pink-100 {
  background-color: #f8bbd0;
  color: rgba(0, 0, 0, 0.87); }

.pink-200 {
  background-color: #f48fb1;
  color: rgba(0, 0, 0, 0.87); }

.pink-300 {
  background-color: #f06292;
  color: white; }

.pink-400 {
  background-color: #ec407a;
  color: white; }

.pink-500 {
  background-color: #e91e63;
  color: white; }

.pink-600 {
  background-color: #d81b60;
  color: white; }

.pink-700 {
  background-color: #c2185b;
  color: white; }

.pink-800 {
  background-color: #ad1457;
  color: white; }

.pink-900 {
  background-color: #880e4f;
  color: white; }

.pink-a100 {
  background-color: #ff80ab;
  color: white; }

.pink-a200 {
  background-color: #ff4081;
  color: white; }

.pink-a400 {
  background-color: #f50057;
  color: white; }

.pink-a700 {
  background-color: #c51162;
  color: white; }

.pink-font {
  color: #d81b60; }

.green-50 {
  background-color: #e5fff9;
  color: rgba(0, 0, 0, 0.87); }

.green-100 {
  background-color: #b0f5e5;
  color: rgba(0, 0, 0, 0.87); }

.green-200 {
  background-color: #7febd3;
  color: rgba(0, 0, 0, 0.87); }

.green-300 {
  background-color: #51e0c1;
  color: white; }

.green-400 {
  background-color: #27d6b0;
  color: white; }

.green-500 {
  background-color: #00c99e;
  color: white; }

.green-600 {
  background-color: #00ab86;
  color: white; }

.green-700 {
  background-color: #008c6e;
  color: white; }

.green-800 {
  background-color: #006e56;
  color: white; }

.green-900 {
  background-color: #004c3c;
  color: white; }

.green-a100 {
  background-color: #a6ffea;
  color: white; }

.green-a200 {
  background-color: #66ffde;
  color: white; }

.green-a400 {
  background-color: #12ffcc;
  color: white; }

.green-a700 {
  background-color: #00d4a6;
  color: white; }

.green-font {
  color: #00ab86; }

/* Gradients */
.gradient-pink {
  background: #880e4f;
  background: -moz-linear-gradient(15deg, #880e4f 0%, #e91e63 100%);
  background: -webkit-linear-gradient(15deg, #880e4f 0%, #e91e63 100%);
  background: linear-gradient(15deg, #880e4f 0%, #e91e63 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#880e4f', endColorstr='#e91e63',GradientType=1 ); }

.gradient-green {
  background: #006e56;
  background: -moz-linear-gradient(15deg, #006e56 0%, #00c99e 100%);
  background: -webkit-linear-gradient(15deg, #006e56 0%, #00c99e 100%);
  background: linear-gradient(15deg, #006e56 0%, #00c99e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e56', endColorstr='#00c99e',GradientType=1 ); }

.gradient-pg {
  background: #c2185b;
  background: -moz-linear-gradient(15deg, #c2185b 0%, #00c99e 100%);
  background: -webkit-linear-gradient(15deg, #c2185b 0%, #00c99e 100%);
  background: linear-gradient(15deg, #c2185b 0%, #00c99e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2185b', endColorstr='#00c99e',GradientType=1 ); }

.gradient-pgl {
  background: #fcf0f3;
  background: -moz-linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  background: -webkit-linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  background: linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf0f3', endColorstr='#e8f5f3',GradientType=1 ); }

/* Fonts */
.base-font-color {
  color: rgba(0, 0, 0, 0.87); }

.secondary-font-color {
  color: rgba(0, 0, 0, 0.54); }

.disabled-font-color {
  color: rgba(0, 0, 0, 0.38); }

.dark-base-font-color {
  color: white; }

.dark-secondary-font-color {
  color: rgba(255, 255, 255, 0.7); }

.dark-disabled-font-color {
  color: rgba(255, 255, 255, 0.5); }

.sys-green {
  color: #009f29; }

.sys-red {
  color: #dc0000; }

.sys-yellow {
  color: #ff8a00; }

.sys-blue {
  color: #1292db; }

.p-finished {
  background-color: #808080; }
  .p-finished .arrow {
    border-color: #808080; }

.p-ending {
  background-color: #dc0000; }
  .p-ending .arrow {
    border-color: #dc0000; }

.p-in-progress {
  background-color: #009f29; }
  .p-in-progress .arrow {
    border-color: #009f29; }

.p-new {
  background-color: #ff8a00; }
  .p-new .arrow {
    border-color: #ff8a00; }

/* Shadows */
.shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important; }

/* ------ Base styles ------ */
html {
  font-size: 14px; }

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  position: relative; }

a,
a:hover {
  color: #00ab86; }

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28); }

/* Titles */
.huge {
  font-size: 3.85rem;
  font-weight: 800;
  margin-bottom: 36px; }

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center; }

h2 {
  font-size: 2.57rem;
  font-weight: 600; }

h3 {
  font-size: 2.28rem;
  font-weight: 600; }

h4 {
  font-size: 2rem;
  font-weight: 500; }

h5 {
  font-size: 1.71rem;
  font-weight: 400; }

h6 {
  font-size: 1.28rem;
  font-weight: 400; }

/* Buttons */
.btn {
  border: 2px solid transparent;
  border-radius: 5px; }

.btn:not([disabled]):hover {
  box-shadow: none; }

.btn-lg {
  font-size: 1.28rem;
  font-weight: 700;
  line-height: 0.9;
  padding: 18px 36px;
  text-transform: uppercase; }

.btn-md {
  font-size: 1.28rem;
  font-weight: 600;
  line-height: 0.8;
  padding: 12px 36px; }

.btn-sm {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0.9;
  padding: 10px 16px;
  text-transform: uppercase; }

.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff; }

.btn-transparent:hover {
  background: #fff;
  color: #d81b60; }

.md-flat {
  min-height: 36px;
  padding: 8px 16px; }

.md-icon {
  font-size: 1.57rem;
  margin-right: 10px;
  padding: 7px !important; }

.btn:not([disabled]):hover,
.btn:not([disabled]):focus,
.btn:not([disabled]).active {
  box-shadow: inset 0 -10rem 0 rgba(0, 0, 0, 0.12); }

.center-button {
  text-align: center; }

.md-check > i:before {
  border-radius: 0; }

/* App */
.app-header ~ .app-body {
  padding-bottom: 60px;
  padding-top: 0; }

.gradient-bg {
  background: #fcf0f3;
  background: -moz-linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  background: -webkit-linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  background: linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf0f3', endColorstr='#e8f5f3',GradientType=1 ); }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex > [class^='col-'],
.flex > [class*=' col-'] {
  align-items: top;
  display: flex; }

/* Header */
.pace .pace-progress {
  background: #00ab86; }

.app-header {
  position: relative; }

.header {
  background-color: #d81b60;
  border: 0;
  flex-shrink: 0;
  margin: 0;
  min-height: 3.5rem;
  padding: 15px 1rem; }
  .header .navbar-brand {
    display: inline-block;
    float: none;
    line-height: 1; }
    .header .navbar-brand svg {
      max-height: none;
      width: 100%; }
  .header .usr-signed-in .notifications a {
    color: #fff; }
  .header .usr-signed-in .notifications a:hover {
    color: rgba(255, 255, 255, 0.7); }
  .header .usr-signed-in .notifications i {
    font-size: 1.71rem;
    line-height: inherit; }
  .header .usr-signed-in .notifications ul {
    line-height: 1.4; }
  .header .usr-signed-in .notifications .label {
    padding: 4px 6px; }
  .header .usr-signed-in .notifications .black {
    background-color: #212121; }
  .header .usr-signed-in .notifications .dropdown-menu a {
    color: #00ab86 !important; }
  .header .usr-signed-in .notifications .dropdown-menu a:hover {
    color: #00ab86 !important; }
  .header .usr-signed-in .user {
    line-height: 1; }
    .header .usr-signed-in .user .dropdown-menu {
      border: 0;
      border-radius: 0;
      border-top: 4px solid #880e4f;
      margin-top: 10px;
      padding: 0; }
    .header .usr-signed-in .user .dropdown-menu:before {
      border-bottom: 8px solid #880e4f;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 16px;
      top: -12px;
      width: 0; }
    .header .usr-signed-in .user .usr-profile {
      background: url("../../assets/images/custom/freelancer_rs_user_dropdown_bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      padding: 28px 129px;
      text-align: center; }
    .header .usr-signed-in .user .usr-avatar {
      background: #fff;
      border: 4px solid #fff;
      border-radius: 50%;
      display: inline-block;
      height: 142px;
      line-height: 50px;
      overflow: hidden;
      text-align: center;
      width: 142px; }
      .header .usr-signed-in .user .usr-avatar img {
        border-radius: 50%;
        height: 100%;
        width: 100%; }
    .header .usr-signed-in .user .usr-info {
      padding: 30px;
      text-align: center;
      width: 100%; }
      .header .usr-signed-in .user .usr-info .usr-name {
        color: #d81b60;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase; }
      .header .usr-signed-in .user .usr-info .usr-mail {
        color: rgba(0, 0, 0, 0.54);
        font-size: 1.28rem;
        font-weight: 400; }
    .header .usr-signed-in .user .usr-options {
      list-style: none;
      padding: 0 30px 30px;
      text-align: center; }
      .header .usr-signed-in .user .usr-options li {
        margin-bottom: 15px; }
        .header .usr-signed-in .user .usr-options li .btn {
          width: 100%; }
      .header .usr-signed-in .user .usr-options li:last-child {
        margin-bottom: 0; }
  .header .usr-signed-in .w-50 {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px; }
  .header .usr-signed-in .avatar {
    background: #880e4f;
    border: 3px solid #880e4f; }
    .header .usr-signed-in .avatar img {
      vertical-align: inherit; }
  .header .navbar {
    background-color: #fafafa; }

/* Nav */
.main-nav {
  background-color: #fafafa;
  border-radius: 0;
  min-height: 36px; }
  .main-nav .navbar-nav > .nav-link,
  .main-nav .navbar-nav > .nav-item > .nav-link,
  .main-nav .navbar-item > .navbar-brand {
    line-height: 2; }
  .main-nav .nav {
    line-height: 1; }
    .main-nav .nav .nav-item {
      margin: 0; }
    .main-nav .nav .nav-item:hover > .dropdown-menu {
      display: block; }
    .main-nav .nav .dropdown-menu {
      background-color: #fafafa;
      border-radius: 0;
      font-size: 1.14rem;
      left: initial;
      margin: 0; }
      .main-nav .nav .dropdown-menu .dropdown-item {
        padding: 0; }
      .main-nav .nav .dropdown-menu .dropdown-item a {
        display: block;
        padding: 20px 14px; }
      .main-nav .nav .dropdown-menu .dropdown-item:hover,
      .main-nav .nav .dropdown-menu .dropdown-item:hover a {
        background-color: #d81b60;
        color: white !important; }
    .main-nav .nav .nav-link {
      border: 0;
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      font-size: 1.14rem;
      font-weight: 400;
      padding: 0 16px; }
    .main-nav .nav .nav-item:hover,
    .main-nav .nav .nav-item:hover .nav-link,
    .main-nav .nav .nav-link:hover {
      background-color: #d81b60;
      color: white !important; }
    .main-nav .nav .nav-item.active .nav-link {
      border-bottom: 4px solid #d81b60; }
  .main-nav a {
    color: rgba(0, 0, 0, 0.87); }
  .main-nav .dropdown-toggle::after {
    display: none; }

.main-nav::after {
  display: none; }

/* Footer */
.app-footer {
  background-color: #fafafa;
  padding: 60px 15px;
  position: relative; }
  .app-footer .fc-green h5,
  .app-footer .fc-green a:hover {
    color: #009f29; }
  .app-footer .fc-red h5,
  .app-footer .fc-red a:hover {
    color: #dc0000; }
  .app-footer .fc-yellow h5,
  .app-footer .fc-yellow a:hover {
    color: #ff8a00; }
  .app-footer .fc-blue h5,
  .app-footer .fc-blue a:hover {
    color: #1292db; }
  .app-footer h5 {
    margin-bottom: 18px; }
  .app-footer .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .app-footer .footer-nav a {
      color: rgba(0, 0, 0, 0.54);
      line-height: 2; }

.app-subfooter {
  color: rgba(0, 0, 0, 0.54);
  padding: 0 15px; }
  .app-subfooter .subfooter {
    display: inline-block;
    font-size: 0.85rem;
    padding: 15px 0;
    width: 100%; }
    .app-subfooter .subfooter .copyright {
      font-size: 12px;
      font-weight: 400; }
    .app-subfooter .subfooter .footer-logo {
      fill: rgba(0, 0, 0, 0.54);
      margin-right: 15px; }
    .app-subfooter .subfooter .social-nav {
      font-size: 1.71rem; }
      .app-subfooter .subfooter .social-nav a {
        color: rgba(0, 0, 0, 0.54);
        margin-right: 20px; }
      .app-subfooter .subfooter .social-nav a:last-child {
        margin-right: 0; }
      .app-subfooter .subfooter .social-nav a:hover {
        color: #00ab86; }

.to-top {
  background-color: #00ab86;
  bottom: 32px;
  color: #fff !important;
  display: none;
  position: fixed;
  right: 24px;
  text-align: center; }

.to-top:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.28); }

/* ======================================== HOME PAGE ======================================== */
/* Hero section */
.hero {
  padding: 60px 0;
  text-align: center; }
  .hero .huge {
    padding: 0 15px; }
  .hero h5 {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 36px;
    padding: 0 15px; }
  .hero .cta {
    padding: 0 15px;
    margin-bottom: 20px; }
    .hero .cta .btn-clear-wrap {
      display: inline-block;
      margin-bottom: 16px;
      padding: 0 10px; }
  .hero .h-search {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px; }
    .hero .h-search .input-group {
      margin-bottom: 18px; }
    .hero .h-search .form-control {
      border-width: 2px; }
    .hero .h-search .h-trending-services {
      display: inline-flex;
      font-size: 1.28rem;
      font-weight: 600; }
      .hero .h-search .h-trending-services p {
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 0;
        margin-right: 18px; }
      .hero .h-search .h-trending-services .h-trending-service {
        margin-right: 18px; }
      .hero .h-search .h-trending-services .h-trending-service:last-child {
        margin-right: 0; }

/* Content */
.section {
  padding: 60px 15px; }

.h-divider {
  color: rgba(0, 0, 0, 0.12); }

.sidebar .sidebar-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 30px 0;
  width: 100%; }

.sidebar .sidebar-item:first-child {
  padding: 0 0 30px; }

.sidebar .sidebar-item:last-child {
  padding: 30px 0 0; }

.sidebar .sidebar-item:last-child,
.sidebar .no-border {
  border-bottom: 0; }

.sidebar .no-padding {
  padding: 0 !important; }

.sidebar .no-margin {
  margin-bottom: 0 !important; }

.sidebar .sidebar-title {
  margin-bottom: 15px; }

.sidebar .sidebar-desc {
  color: #00ab86;
  text-align: center; }

.sidebar .sidebar-tab-nav {
  list-style: none;
  margin-bottom: 0;
  padding: 0; }
  .sidebar .sidebar-tab-nav a {
    border-left: 4px solid transparent;
    display: block;
    font-size: 1.71rem;
    margin: 0;
    padding: 20px 15px; }
  .sidebar .sidebar-tab-nav .active a,
  .sidebar .sidebar-tab-nav li a:hover,
  .sidebar .sidebar-tab-nav li a:focus {
    background-color: #e8f5f3;
    border-left: 4px solid #00ab86;
    color: #00ab86; }

.sidebar .search {
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px; }

.sidebar .sidebar-filters {
  list-style: none;
  margin-bottom: 0;
  padding: 0; }
  .sidebar .sidebar-filters li {
    margin-bottom: 15px; }
    .sidebar .sidebar-filters li label {
      line-height: 1.5; }
  .sidebar .sidebar-filters li:last-child {
    margin-bottom: 0; }

.sidebar .submit {
  width: 100%; }

.projects .project {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 30px 15px; }
  .projects .project .project-category-icon {
    color: #d81b60;
    display: block;
    font-size: 3.85rem;
    text-align: center; }
  .projects .project .project-titile a {
    color: #d81b60; }
  .projects .project .project-desc {
    line-height: 1.3;
    margin-bottom: 15px; }
  .projects .project .project-parameters span:first-child {
    padding: 0 0 20px; }
  .projects .project .project-parameters span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px 0; }
  .projects .project .project-parameters span:last-child {
    border-bottom: 0; }
  .projects .project .project-header,
  .projects .project .project-deadline,
  .projects .project .project-applications,
  .projects .project .project-budget {
    display: block;
    text-align: center;
    text-transform: uppercase; }
  .projects .project .project-header {
    font-size: 0.85rem;
    font-weight: 600; }
  .projects .project .project-deadline,
  .projects .project .project-applications {
    font-size: 1.28rem; }
  .projects .project .project-budget {
    font-size: 1.71rem;
    font-weight: 700; }

.projects .project:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important; }

.projects .project:nth-last-child(2) {
  margin-bottom: 30px; }

.projects nav {
  text-align: center; }

.label-lg {
  font-size: 0.92rem;
  font-weight: 600;
  padding: 8px 12px;
  text-transform: none; }

.pagination > li > a {
  border: 0;
  padding: 6px 12px; }

.pagination > li > .nav-next,
.pagination > li > .nav-previous {
  margin: 0 10px;
  padding: 6px 8px; }

.pagination > li > a:hover,
.pagination > .active > a,
.pagination > li > .nav-next,
.pagination > li > .nav-previous {
  background-color: #d81b60 !important;
  color: #fafafa !important; }

.thumbnail {
  margin-bottom: 60px;
  text-align: center; }
  .thumbnail .thumb-desc {
    padding: 20px 15px;
    text-align: center; }
    .thumbnail .thumb-desc .thumb-title {
      display: block;
      font-size: 1.71rem;
      font-weight: 600;
      margin-bottom: 10px; }
    .thumbnail .thumb-desc .thumb-subtitle {
      color: rgba(0, 0, 0, 0.54);
      font-size: 1.28;
      font-weight: 600;
      margin: 0; }

.services {
  overflow: hidden; }

.services > [class^='col-'],
.services > [class*=' col-'] {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
  transform: translate3d(0, 0, 0);
  transition-duration: 220ms;
  transition-property: all; }

.services > [class^='col-']:last-child,
.services > [class*=' col-']:last-child {
  border-right: 0; }

.services > [class^='col-']:hover,
.services > [class*=' col-']:hover {
  -moz-transform: scale(1.045) rotate(0.0001deg);
  -ms-transform: scale(1.045) rotate(0.0001deg);
  -o-transform: scale(1.045) rotate(0.0001deg);
  -webkit-transform: scale(1.045) rotate(0.0001deg);
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.045) rotate(0.0001deg);
  z-index: 2; }

.service {
  padding: 15px 0;
  text-align: center; }
  .service .service-icon {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px; }
  .service .service-title {
    font-weight: 600;
    margin-bottom: 10px; }
  .service .service-desc {
    border-bottom: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400; }

.answers .answer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 30px 15px; }
  .answers .answer .answer-category-icon {
    color: #d81b60;
    display: block;
    font-size: 3.85rem;
    text-align: center; }
  .answers .answer .answer-titile a {
    color: #d81b60; }
  .answers .answer .answer-desc {
    line-height: 1.3;
    margin-bottom: 15px; }
  .answers .answer .answer-parameters span:first-child {
    padding: 0 0 20px; }
  .answers .answer .answer-parameters span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px 0; }
  .answers .answer .answer-parameters span:last-child {
    border-bottom: 0; }
  .answers .answer .answer-header,
  .answers .answer .answer-date {
    display: block;
    text-align: center;
    text-transform: uppercase; }
  .answers .answer .answer-header {
    font-size: 0.85rem;
    font-weight: 600; }
  .answers .answer .answer-date {
    font-size: 1.28rem; }

.answers .answer:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important; }

.answers .answer:nth-last-child(2) {
  margin-bottom: 30px; }

.answers nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
  text-align: right; }

.answers .ask {
  text-align: center; }

.pagination2 {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  padding: 15px 0; }
  .pagination2 .dropdown.inline .btn {
    border: 0; }
  .pagination2 .dropdown.inline .btn:hover,
  .pagination2 .dropdown.inline .btn:focus,
  .pagination2 .dropdown.inline .btn:active {
    box-shadow: none; }
  .pagination2 .dropdown.inline .dropdown-menu {
    min-width: 1px; }
  .pagination2 .nav-next,
  .pagination2 .nav-previous {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 6px;
    padding: 10px 8px; }
  .pagination2 .nav-next:focus,
  .pagination2 .nav-previous:focus {
    background-color: #d81b60; }

.pagination2 > li > a {
  border: 0;
  padding: 6px 12px; }

.pagination2 > li > .nav-next,
.pagination2 > li > .nav-previous {
  margin: 0 10px;
  padding: 6px 8px; }

.pagination2 > li > a:hover,
.pagination2 > .active > a,
.pagination2 > li > .nav-next,
.pagination2 > li > .nav-previous {
  background-color: #d81b60 !important;
  color: #fafafa !important; }

.blog-post {
  display: flex;
  flex-direction: column; }
  .blog-post .featured-image .post-category {
    background-color: #fafafa;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    left: 15px;
    padding: 10px 12px;
    position: absolute;
    text-transform: uppercase;
    top: 15px; }
  .blog-post .featured-image .post-category:hover {
    -webkit-transform: translate3d(0, -1px, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    transform: translate3d(0, -1px, 0); }
  .blog-post .featured-image .business {
    color: #ff8a00; }
  .blog-post .featured-image .design {
    color: #dc0000; }
  .blog-post .featured-image .android {
    color: #009f29; }
  .blog-post .post-desc {
    flex-grow: 1;
    margin-bottom: auto;
    padding: 30px 15px 24px; }
    .blog-post .post-desc .post-title a {
      color: rgba(0, 0, 0, 0.87); }
    .blog-post .post-desc .post-excerpt {
      line-height: 1.3;
      margin: 0; }
  .blog-post .post-footer {
    margin-top: auto;
    padding: 8px; }
    .blog-post .post-footer .post-actions {
      display: inline-block; }
  .blog-post .post-footer::after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden; }

#services,
#tutorials {
  background: #fcf0f3;
  background: -moz-linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  background: -webkit-linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  background: linear-gradient(15deg, #fcf0f3 0%, #e8f5f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf0f3', endColorstr='#e8f5f3',GradientType=1 ); }

/* ======================================== SINGLE PAGE ======================================== */
/* ======================================== SERVICES ======================================== */
/* ======================================== ABOUT US ======================================== */
/* ======================================== REFERENCES ======================================== */
/* ======================================== BLOG ======================================== */
/* ======================================== CONTACT ======================================== */
/* ======================================== SIGN IN ======================================== */
/* ======================================== SIGN UP ======================================== */
/* ======================================== USER PROFILES ======================================== */
/* ======================================== USER PROFILE ======================================== */
/* ======================================== RESPONSIVE ======================================== */
/* ------ Responsive - xl (>1200px) ------ */
/* ------ Responsive - lg (<1200px) ------ */
/* ------ Responsive - md (<992px) ------ */
@media (max-width: 991px) {
  html {
    font-size: 13px; }
  /* Titles */
  /* Buttons */
  /* App */
  /* Header */
  /* Nav */
  /* Footer */
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
  .services > [class^='col-']:nth-child(3n+3),
  .services > [class*=' col-']:nth-child(3n+3) {
    border-right: 0; }
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  /* === USER PROFILE === */ }

/* ------ Responsive - sm (<768px) ------ */
@media (max-width: 767px) {
  html {
    font-size: 12px; }
  /* Titles */
  /* Buttons */
  /* App */
  /* Header */
  /* Nav */
  .mobile-nav {
    margin: 0 1rem; }
  .main-nav {
    padding: 0; }
    .main-nav .nav .nav-item:hover > .dropdown-menu {
      display: none; }
    .main-nav .nav .nav-item.open {
      background-color: transparent; }
    .main-nav .navbar-nav .open .dropdown-menu,
    .main-nav .navbar-nav .open .dropdown-menu .open {
      -webkit-box-shadow: none;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      display: block !important;
      float: none;
      margin-top: 0;
      padding: 5px 15px;
      position: static;
      width: auto; }
  /* Footer */
  .subfooter {
    text-align: center; }
    .subfooter .copyright,
    .subfooter .social-nav {
      float: none; }
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
  .project {
    text-align: center; }
    .project .project-attributes {
      margin-bottom: 15px; }
    .project .project-parameters span:first-child {
      padding: 0 0 5px !important; }
  .services > [class^='col-']:nth-child(3n+3),
  .services > [class*=' col-']:nth-child(3n+3) {
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .services > [class^='col-']:nth-child(2n+2),
  .services > [class*=' col-']:nth-child(2n+2) {
    border-right: 0; }
  .answer .answer-parameters span:first-child {
    padding: 0 0 5px !important; }
  .blog-post {
    margin-bottom: 60px; }
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  /* === USER PROFILE === */ }

/* ------ Responsive - xs (<544px) ------ */
@media (max-width: 543px) {
  /* Titles */
  /* Buttons */
  /* App */
  /* Header */
  /* Nav */
  /* Footer */
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
  .services > [class^='col-']:nth-child(3n+3),
  .services > [class*=' col-']:nth-child(3n+3) {
    border-right: 0; }
  .services > [class^='col-']:nth-child(2n+2),
  .services > [class*=' col-']:nth-child(2n+2) {
    border-right: 0; }
  .services > [class^='col-'],
  .services > [class*=' col-'] {
    border-right: 0; }
  .answer {
    text-align: center; }
    .answer .answer-attributes {
      margin-bottom: 15px; }
    .answer .answer-parameters span:first-child,
    .answer .answer-parameters span.answer-date {
      display: inline-block;
      font-size: 1.28rem;
      padding: 0 !important; }
    .answer .answer-parameters span.answer-header {
      font-weight: 400;
      text-transform: capitalize;
      border-bottom: 0; }
    .answer .answer-parameters span.answer-header::after {
      content: ': '; }
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  /* === USER PROFILE === */ }

/* ------ Responsive - other elements ------ */
@media (max-width: 750px) {
  .flex {
    display: block; } }

/*# sourceMappingURL=custom.css.map */
