.masonry {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.masonry-item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  overflow: auto;
  padding: 0 12px 24px 12px;

  .service-box {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .masonry-item {
    padding: 0 8px 16px 8px;
  }
}

@media (max-width: 767px) {
  .masonry-item {
    padding: 0 4px 8px 4px;
  }
}

@media (max-width: 543px) { //xs
  //
}

@media (min-width: 544px) { //sm
  .masonry {
  }
}

@media (min-width: 768px) { //md
  .masonry {
  }
}

@media (min-width: 992px) { //lg
  .masonry {
  }
}

@media (min-width: 1200px) { //xl
}

/* -------- asdf --------- */

@media (max-width: 543px) {
  .mas-xs-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .mas-xs-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .mas-xs-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .mas-xs-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .mas-xs-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }

  .mas-xs-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }

  .mas-xs-7 {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }

  .mas-xs-8 {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
  }

  .mas-xs-9 {
    -webkit-column-count: 9;
    -moz-column-count: 9;
    column-count: 9;
  }

  .mas-xs-10 {
    -webkit-column-count: 10;
    -moz-column-count: 10;
    column-count: 10;
  }

  .mas-xs-11 {
    -webkit-column-count: 11;
    -moz-column-count: 11;
    column-count: 11;
  }

  .mas-xs-12 {
    -webkit-column-count: 12;
    -moz-column-count: 12;
    column-count: 12;
  }
}

@media (min-width: 544px) {
  .mas-sm-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .mas-sm-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .mas-sm-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .mas-sm-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .mas-sm-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }

  .mas-sm-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }

  .mas-sm-7 {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }

  .mas-sm-8 {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
  }

  .mas-sm-9 {
    -webkit-column-count: 9;
    -moz-column-count: 9;
    column-count: 9;
  }

  .mas-sm-10 {
    -webkit-column-count: 10;
    -moz-column-count: 10;
    column-count: 10;
  }

  .mas-sm-11 {
    -webkit-column-count: 11;
    -moz-column-count: 11;
    column-count: 11;
  }

  .mas-sm-12 {
    -webkit-column-count: 12;
    -moz-column-count: 12;
    column-count: 12;
  }
}

@media (min-width: 768px) {
  .mas-md-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .mas-md-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .mas-md-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .mas-md-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .mas-md-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }

  .mas-md-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }

  .mas-md-7 {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }

  .mas-md-8 {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
  }

  .mas-md-9 {
    -webkit-column-count: 9;
    -moz-column-count: 9;
    column-count: 9;
  }

  .mas-md-10 {
    -webkit-column-count: 10;
    -moz-column-count: 10;
    column-count: 10;
  }

  .mas-md-11 {
    -webkit-column-count: 11;
    -moz-column-count: 11;
    column-count: 11;
  }

  .mas-md-12 {
    -webkit-column-count: 12;
    -moz-column-count: 12;
    column-count: 12;
  }
}

@media (min-width: 992px) {
  .mas-lg-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .mas-lg-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .mas-lg-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .mas-lg-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .mas-lg-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }

  .mas-lg-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }

  .mas-lg-7 {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }

  .mas-lg-8 {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
  }

  .mas-lg-9 {
    -webkit-column-count: 9;
    -moz-column-count: 9;
    column-count: 9;
  }

  .mas-lg-10 {
    -webkit-column-count: 10;
    -moz-column-count: 10;
    column-count: 10;
  }

  .mas-lg-11 {
    -webkit-column-count: 11;
    -moz-column-count: 11;
    column-count: 11;
  }

  .mas-lg-12 {
    -webkit-column-count: 12;
    -moz-column-count: 12;
    column-count: 12;
  }
}

@media (min-width: 1200px) {
  .mas-xl-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .mas-xl-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .mas-xl-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .mas-xl-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .mas-xl-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }

  .mas-xl-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }

  .mas-xl-7 {
    -webkit-column-count: 7;
    -moz-column-count: 7;
    column-count: 7;
  }

  .mas-xl-8 {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
  }

  .mas-xl-9 {
    -webkit-column-count: 9;
    -moz-column-count: 9;
    column-count: 9;
  }

  .mas-xl-10 {
    -webkit-column-count: 10;
    -moz-column-count: 10;
    column-count: 10;
  }

  .mas-xl-11 {
    -webkit-column-count: 11;
    -moz-column-count: 11;
    column-count: 11;
  }

  .mas-xl-12 {
    -webkit-column-count: 12;
    -moz-column-count: 12;
    column-count: 12;
  }
}

/* Masonry layout
.masonry {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;

  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.masonry-item {
  position: relative;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 991px) {
  .masonry {
    height: 200vh;
  }
  .masonry-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 767px) {
  .masonry {
    height: 300vh;
  }

  .masonry-item {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (max-width: 543px) {
  .masonry {
    height: 400vh;
  }
}

@media (max-width: 543px) {
  .mas-xs-1 {
    float: left;
    width: 8.333333%;
  }

  .mas-xs-2 {
    float: left;
    width: 16.666667%;
  }

  .mas-xs-3 {
    float: left;
    width: 25%;
  }

  .mas-xs-4 {
    float: left;
    width: 33.333333%;
  }

  .mas-xs-5 {
    float: left;
    width: 41.666667%;
  }

  .mas-xs-6 {
    float: left;
    width: 50%;
  }

  .mas-xs-7 {
    float: left;
    width: 58.333333%;
  }

  .mas-xs-8 {
    float: left;
    width: 66.666667%;
  }

  .mas-xs-9 {
    float: left;
    width: 75%;
  }

  .mas-xs-10 {
    float: left;
    width: 83.333333%;
  }

  .mas-xs-11 {
    float: left;
    width: 91.666667%;
  }

  .mas-xs-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 544px) {
  .mas-sm-1 {
    float: left;
    width: 8.333333%;
  }
  .mas-sm-2 {
    float: left;
    width: 16.666667%;
  }
  .mas-sm-3 {
    float: left;
    width: 25%;
  }
  .mas-sm-4 {
    float: left;
    width: 33.333333%;
  }
  .mas-sm-5 {
    float: left;
    width: 41.666667%;
  }
  .mas-sm-6 {
    float: left;
    width: 50%;
  }
  .mas-sm-7 {
    float: left;
    width: 58.333333%;
  }
  .mas-sm-8 {
    float: left;
    width: 66.666667%;
  }
  .mas-sm-9 {
    float: left;
    width: 75%;
  }
  .mas-sm-10 {
    float: left;
    width: 83.333333%;
  }
  .mas-sm-11 {
    float: left;
    width: 91.666667%;
  }
  .mas-sm-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mas-md-1 {
    float: left;
    width: 8.333333%;
  }
  .mas-md-2 {
    float: left;
    width: 16.666667%;
  }
  .mas-md-3 {
    float: left;
    width: 25%;
  }
  .mas-md-4 {
    float: left;
    width: 33.333333%;
  }
  .mas-md-5 {
    float: left;
    width: 41.666667%;
  }
  .mas-md-6 {
    float: left;
    width: 50%;
  }
  .mas-md-7 {
    float: left;
    width: 58.333333%;
  }
  .mas-md-8 {
    float: left;
    width: 66.666667%;
  }
  .mas-md-9 {
    float: left;
    width: 75%;
  }
  .mas-md-10 {
    float: left;
    width: 83.333333%;
  }
  .mas-md-11 {
    float: left;
    width: 91.666667%;
  }
  .mas-md-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .mas-lg-1 {
    float: left;
    width: 8.333333%;
  }
  .mas-lg-2 {
    float: left;
    width: 16.666667%;
  }
  .mas-lg-3 {
    float: left;
    width: 25%;
  }
  .mas-lg-4 {
    float: left;
    width: 33.333333%;
  }
  .mas-lg-5 {
    float: left;
    width: 41.666667%;
  }
  .mas-lg-6 {
    float: left;
    width: 50%;
  }
  .mas-lg-7 {
    float: left;
    width: 58.333333%;
  }
  .mas-lg-8 {
    float: left;
    width: 66.666667%;
  }
  .mas-lg-9 {
    float: left;
    width: 75%;
  }
  .mas-lg-10 {
    float: left;
    width: 83.333333%;
  }
  .mas-lg-11 {
    float: left;
    width: 91.666667%;
  }
  .mas-lg-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .mas-xl-1 {
    float: left;
    width: 8.333333%;
  }
  .mas-xl-2 {
    float: left;
    width: 16.666667%;
  }
  .mas-xl-3 {
    float: left;
    width: 25%;
  }
  .mas-xl-4 {
    float: left;
    width: 33.333333%;
  }
  .mas-xl-5 {
    float: left;
    width: 41.666667%;
  }
  .mas-xl-6 {
    float: left;
    width: 50%;
  }
  .mas-xl-7 {
    float: left;
    width: 58.333333%;
  }
  .mas-xl-8 {
    float: left;
    width: 66.666667%;
  }
  .mas-xl-9 {
    float: left;
    width: 75%;
  }
  .mas-xl-10 {
    float: left;
    width: 83.333333%;
  }
  .mas-xl-11 {
    float: left;
    width: 91.666667%;
  }
  .mas-xl-12 {
    float: left;
    width: 100%;
  }
}
 */
