/* ------ Base styles ------ */

html {
  font-size: 14px;
}

body {
  background-color: $bw-50;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

a,
a:hover {
  color: $green-600;
}

.box-shadow {
  box-shadow: 0 2px 4px $shadow;
}

.clear::after {
  clear: both;
  content: ' ';
  display: block;
  height: 0;
  visibility: hidden;
}
/* Text */
.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

/* Titles */
.huge {
  @include huge;
}

h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
}

h4 {
  font-size: $h4-size;
  font-weight: $h4-weight;
}

h5 {
  font-size: $h5-size;
  font-weight: $h5-weight;
}

h6 {
  font-size: $h6-size;
  font-weight: $h6-weight;
}

/* Buttons */
.btn {
  border: 2px solid transparent;
  border-radius: 5px;
}

.btn:not([disabled]):hover {
  box-shadow: none;
}

.btn-lg {
  font-size: 1.28rem; //18px
  font-weight: 700;
  line-height: 0.9;
  padding: 18px 36px;
  text-transform: uppercase;
  //56
}

.btn-md {
  font-size: 1.28rem; //18px
  font-weight: 600;
  line-height: 0.8;
  padding: 12px 36px;
  //42
}

.btn-sm {
  font-size: 1rem; //14px
  font-weight: 500;
  line-height: 0.9;
  padding: 10px 16px;
  text-transform: uppercase;
  //36
}

.btn-transparent {
  background: transparent;
  border: 2px solid $bw-50;
  box-sizing: border-box;
  color: $bw-50;
}

.btn-transparent:hover {
  background: $bw-50;
  color: $pink-600;
}

.md-flat {
  min-height: 36px;
  padding: 8px 16px;
}

.md-icon {
  font-size: 1.57rem; //22px
  margin-right: 10px;
  padding: 7px !important;
}

.btn:not([disabled]):hover,
.btn:not([disabled]):focus,
.btn:not([disabled]).active {
  box-shadow: inset 0 -10rem 0 $button-hover;
}

.center-button {
  text-align: center;
}

.md-check > i:before {
  border-radius: 0;
}

/* Forms */
input.form-control {
  border-radius: 5px;
}

/* App */
.app-header ~ .app-body {
  padding-bottom: 60px;
  padding-top: 0;
  min-height: 565px;
}

.gradient-bg {
  @include gradient-pgl;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex > [class^='col-'],
.flex > [class*=' col-'] {
  align-items: top;
  display: flex;
  //justify-content: center;
}

.md-check > i {
  margin-left: -17px;
}

/* Header */
.pace {
  .pace-progress {
    background: $green-600;
  }
}

.app-header {
  position: relative;
}

.header {
  background-color: $pink-600;
  border: 0;
  flex-shrink: 0;
  margin: 0;
  min-height: 3.5rem;
  padding: 15px 1rem;

  .navbar-brand {
    display: inline-block;
    float: none;
    line-height: 1;

    svg {
      max-height: none;
      width: 100%;
    }
  }

  .usr-signed-in {
    .notifications {

      a {
        color: $bw-50;
      }

      a:hover {
        color: $dark-secondary-font-color;
      }

      i {
        font-size: 1.71rem; //24px
        line-height: inherit;
      }

      ul {
        line-height: 1.4;
      }

      .label {
        padding: 4px 6px;
      }

      .black {
        background-color: $bwm-900;
      }

      .dropdown-menu {
        a {
          color: $green-600 !important;
        }

        a:hover {
          color: $green-600 !important;
        }
      }
    }

    .user {
      //sline-height: 1;

      .dropdown-menu {
        border: 0;
        border-radius: 0;
        border-top: 4px solid $pink-900;
        margin-top: 10px;
        padding: 0;
      }

      .dropdown-menu:before {
        border-bottom: 8px solid $pink-900;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: 16px;
        top: -12px;
        width: 0;
      }

      .usr-profile {
        background: url('../../assets/images/custom/freelancer_rs_user_dropdown_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        padding: 28px 129px;
        text-align: center;
      }

      .usr-avatar {
        background: $bw-50;
        border: 4px solid $bw-50;
        border-radius: 50%;
        display: inline-block;
        height: 142px;
        line-height: 50px;
        overflow: hidden;
        text-align: center;
        width: 142px;

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }

      .usr-info {
        padding: 30px;
        text-align: center;
        width: 100%;

        .usr-name {
          color: $pink-600;
          font-size: 2rem; //28px
          font-weight: 500;
          text-transform: uppercase;
        }

        .usr-mail {
          color: $secondary-font-color;
          font-size: 1.28rem; //18px
          font-weight: 400;
        }
      }

      .usr-options {
        list-style: none;
        padding: 0 30px 30px;
        text-align: center;

        li {
          margin-bottom: 15px;

          .btn {
            width: 100%;
          }
        }

        li:last-child {
          margin-bottom: 0;
        }
      }
    }

    .w-50 {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;
    }

    .avatar {
      background: $pink-900;
      border: 3px solid $pink-900;

      img {
        vertical-align: inherit;
      }
    }
  }

  .navbar {
    background-color: $bwm-50;
  }

  .navbar-nav .nav-item {
    //line-height: 3.2rem;
  }
}

/* Nav */
.main-nav {
  background-color: $bwm-50;
  border-radius: 0;
  min-height: 36px;

  .navbar-nav > .nav-link,
  .navbar-nav > .nav-item > .nav-link,
  .navbar-item > .navbar-brand {
    line-height: 2;
  }

  .nav {
    line-height: 1;

    .nav-item {
      margin: 0;
    }

    .nav-item:hover>.dropdown-menu {
      display: block;
    }

    .dropdown-menu {
      background-color: $bwm-50;
      border-radius: 0;
      font-size: 1.14rem; //16px
      left: initial;
      margin: 0;

      .dropdown-item {
        padding: 0;
      }

      .dropdown-item a {
        display: block;
        padding: 20px 14px;
      }

      .dropdown-item:hover,
      .dropdown-item:hover a {
        background-color: $pink-600;
        color: $dark-base-font-color !important;
      }
    }

    .nav-link {
      border: 0;
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      font-size: 1.14rem; //16px
      font-weight: 400;
      padding: 0 16px;
    }

    .nav-item:hover,
    .nav-item:hover .nav-link,
    .nav-link:hover {
      background-color: $pink-600;
      color: $dark-base-font-color !important;
    }

    .nav-item.active .nav-link {
      border-bottom: 4px solid $pink-600;
    }
  }

  a {
    color: $base-font-color;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.main-nav::after {
  display: none;
}

/* Footer */
.app-footer {
  background-color: $bwm-50;
  padding: 60px 15px;
  position: relative;

  .fc-green {
    h5,
    a:hover {
      color: $sys-green;
    }
  }

  .fc-red {
    h5,
    a:hover {
      color: $sys-red;
    }
  }

  .fc-yellow {
    h5,
    a:hover {
      color: $sys-yellow;
    }
  }

  .fc-blue {
    h5,
    a:hover {
      color: $sys-blue;
    }
  }

  h5 {
    margin-bottom: 18px;
  }

  .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: $secondary-font-color;
      line-height: 2;
    }
  }
}

.app-subfooter {
  color: $secondary-font-color;
  padding: 0 15px;

  .subfooter {
    display: inline-block;
    font-size: $small-font;
    padding: 15px 0;
    width: 100%;

    .copyright {
      @include small;
    }

    .footer-logo {
      fill: $secondary-font-color;
      margin-right: 15px;
    }

    .social-nav {
      font-size: 1.71rem; //24px

      a {
        color: $secondary-font-color;
        margin-right: 20px;
      }

      a:last-child {
        margin-right: 0;
      }

      a:hover {
        color: $green-600;
      }
    }
  }
}

.to-top {
  background-color: $green-600;
  bottom: 32px;
  color: $bw-50 !important;
  display: none;
  position: fixed;
  right: 24px;
  text-align: center;
}

.to-top:hover {
  box-shadow: 0 4px 8px 0 $shadow;
}

/* ======================================== HOME PAGE ======================================== */

/* Hero section */
.cta {
  padding: 0 15px;
  margin-bottom: 20px;

  .btn-clear-wrap {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0 10px;
  }
}

.hero {
  padding: 60px 0;
  text-align: center;

  .huge {
    padding: 0 15px;
  }

  h5 {
    color: $secondary-font-color;
    margin-bottom: 36px;
    padding: 0 15px;
  }

  .h-search {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;

    .input-group {
      margin-bottom: 18px;
    }

    .form-control {
      border-width: 2px;
    }

    .h-trending-services {
      display: inline-flex;
      font-size: 1.28rem; //18px
      font-weight: 600;

      p {
        color: $secondary-font-color;
        margin-bottom: 0;
        margin-right: 18px;
      }

      .h-trending-service {
        margin-right: 18px;
      }

      .h-trending-service:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Content */
.section {
  padding: 60px 15px;
}

.h-divider {
  color: $divider-color;
}

//Sidebar
.sidebar {
  //margin-bottom: 60px;

  .sidebar-item {
    border-bottom: 1px solid $divider-color;
    padding: 30px 0;
    width: 100%;
  }

  .sidebar-item:first-child {
    padding: 0 0 30px;
  }

  .sidebar-item:last-child {
    padding: 30px 0 0;
  }

  .sidebar-item:last-child,
  .no-border {
    border-bottom: 0;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin-bottom: 0 !important;
  }

  .sidebar-title {
    margin-bottom: 15px;
  }

  .sidebar-desc {
    color: $green-600;
    text-align: center;
  }

  .sidebar-tab-nav {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    a {
      border-left: 4px solid transparent;
      display: block;
      font-size: 1.71rem; //24px
      margin: 0;
      padding: 10px 15px;
    }

    .active a,
    li a:hover,
    li a:focus {
      background-color: $green-g;
      border-left: 4px solid $green-600;
      color: $green-600;
    }
  }

  .search {
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .sidebar-filters {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    li {
      margin-bottom: 15px;

      label {
        line-height: 1.5;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  .submit {
    width: 100%;
  }
}

//Current projects
.projects {
  .project {
    border-bottom: 1px solid $divider-color;
    padding: 30px 15px;

    .project-category-icon {
      color: $pink-600;
      display: block;
      font-size: 3.85rem; //54px
      text-align: center;
    }

    .project-titile a {
      color: $pink-600;
    }

    .project-desc {
      //line-height: 1.3;
      margin-bottom: 15px;
    }

    .project-parameters {
      span:first-child {
        padding: 0 0 20px;
      }

      span {
        border-bottom: 1px solid $divider-color;
        padding: 20px 0;
      }

      span:last-child {
        border-bottom: 0;
      }
    }

    .project-header,
    .project-deadline,
    .project-applications,
    .project-budget {
      display: block;
      text-align: center;
      text-transform: uppercase;
    }

    .project-header {
      font-size: $small-font;
      font-weight: 600;
    }

    .project-deadline,
    .project-applications {
      font-size: 1.28rem; //18px
    }

    .project-budget {
      font-size: 1.71rem; //24px
      font-weight: 700;
    }
  }

  .project:hover {
    @include shadow;
  }

  .project:nth-last-child(2) {
    margin-bottom: 30px;
  }

  nav {
    text-align: center;
  }
}

.label-lg {
  font-size: 0.92rem; //13px
  font-weight: 600;
  padding: 8px 12px;
  text-transform: none;
}

.pagination > li > a {
  border: 0;
  padding: 6px 12px;
}

.pagination > li > .nav-next,
.pagination > li > .nav-previous {
  margin: 0 10px;
  padding: 6px 8px;
}

.pagination > li > a:hover,
.pagination > .active > a,
.pagination > li > .nav-next,
.pagination > li > .nav-previous {
  background-color: $pink-600 !important;
  color: $bwm-50 !important;
}

//Freelancers
.thumbnail {
  margin-bottom: 60px;
  text-align: center;

  .thumb-desc {
    padding: 20px 15px;
    text-align: center;

    .thumb-title {
      display: block;
      font-size: 1.71rem; //24px
      font-weight: 600;
      margin-bottom: 10px;
    }

    .thumb-subtitle {
      color: $secondary-font-color;
      font-size: 1.28; //18px
      font-weight: 600;
      margin: 0;
    }
  }
}

.thumbnail:hover {
  //js .animate
}

//Services
.services {
  overflow: hidden;
}

.services > [class^='col-'],
.services > [class*=' col-'] {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  border-right: 1px solid $divider-color;
  margin-bottom: 20px;
  transform: translate3d(0, 0, 0);
  transition-duration: 220ms;
  transition-property: all;
}

.services > [class^='col-']:last-child,
.services > [class*=' col-']:last-child {
  border-right: 0;
}

.services > [class^='col-']:hover,
.services > [class*=' col-']:hover {
  -moz-transform: scale(1.045) rotate(0.0001deg);
  -ms-transform: scale(1.045) rotate(0.0001deg);
  -o-transform: scale(1.045) rotate(0.0001deg);
  -webkit-transform: scale(1.045) rotate(0.0001deg);
  background-color: $bw-50;
  box-shadow: 0 5px 20px 0 $service-hover;
  transform: scale(1.045) rotate(0.0001deg);
  z-index: 2;
}

.service {
  padding: 15px 0;
  text-align: center;

  .service-icon {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
  }

  .service-title {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .service-desc {
    border-bottom: 30px;
    color: $secondary-font-color;
    font-weight: 400;
  }
}

//Knowledge base
.answers {
  .answer {
    border-bottom: 1px solid $divider-color;
    padding: 30px 15px;

    .answer-category-icon {
      color: $pink-600;
      display: block;
      font-size: 3.85rem; //54px
      text-align: center;
    }

    .answer-titile a {
      color: $pink-600;
    }

    .answer-desc {
      //line-height: 1.3;
      margin-bottom: 15px;
    }

    .answer-parameters {
      span:first-child {
        padding: 0 0 20px;
      }

      span {
        border-bottom: 1px solid $divider-color;
        padding: 20px 0;
      }

      span:last-child {
        border-bottom: 0;
      }
    }

    .answer-header,
    .answer-date {
      display: block;
      text-align: center;
      text-transform: uppercase;
    }

    .answer-header {
      font-size: $small-font;
      font-weight: 600;
    }

    .answer-date {
      font-size: 1.28rem; //18px
    }
  }

  .answer:hover {
    @include shadow;
  }

  .answer:nth-last-child(2) {
    margin-bottom: 30px;
  }

  nav {
    border-bottom: 1px solid $divider-color;
    margin-bottom: 30px;
    text-align: right;
  }

  .ask {
    text-align: center;
  }
}

.pagination2 {
  color: $secondary-font-color;
  font-weight: 500;
  padding: 15px 0;

  .dropdown.inline {
    .btn {
      border: 0;
    }

    .btn:hover,
    .btn:focus,
    .btn:active {
      box-shadow: none;
    }

    .dropdown-menu {
      min-width: 1px;
    }
  }

  .nav-next,
  .nav-previous {
    color: $secondary-font-color;
    margin-left: 6px;
    padding: 10px 8px;
  }

  .nav-next:focus,
  .nav-previous:focus {
    background-color: $pink-600;
  }
}

.pagination2 > li > a {
  border: 0;
  padding: 6px 12px;
}

.pagination2 > li > .nav-next,
.pagination2 > li > .nav-previous {
  margin: 0 10px;
  padding: 6px 8px;
}

.pagination2 > li > a:hover,
.pagination2 > .active > a,
.pagination2 > li > .nav-next,
.pagination2 > li > .nav-previous {
  background-color: $pink-600 !important;
  color: $bwm-50 !important;
}

//Tutorials

//Blog
.latest-post {
  display: flex;
  flex-direction: column;

  .featured-image {
    .post-category {
      background-color: $bwm-50;
      display: block;
      font-size: $base-font-size;
      font-weight: 600;
      left: 15px;
      padding: 10px 12px;
      position: absolute;
      text-transform: uppercase;
      top: 15px;
    }

    .post-category:hover {
      -webkit-transform: translate3d(0, -1px, 0);
      box-shadow: 0 4px 8px 0 $shadow-rise !important;
      transform: translate3d(0, -1px, 0);
    }

    .business {
      color: $sys-yellow;
    }

    .design {
      color: $sys-red;
    }

    .android {
      color: $sys-green;
    }
  }

  .post-desc {
    flex-grow: 1;
    margin-bottom: auto;
    padding: 30px 15px 24px;

    .post-title {
      a {
        color: $base-font-color;
      }
    }

    .post-excerpt {
      //line-height: 1.3;
      margin: 0;
    }
  }

  .post-footer {
    margin-top: auto;
    padding: 8px;

    .post-actions {
      display: inline-block;
    }

    .read-more {
      //
    }
  }

  .post-footer::after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
  }
}



#services,
#tutorials {
  @include gradient-pgl;
}

/* ======================================== SINGLE PAGE ======================================== */
/* ======================================== SERVICES ======================================== */
.service-box {
  .service-desc {
    margin: 10px 0;
    padding: 0 15px;

    .service-title {
      display: block;
      font-size: 1.28rem; //18px
      font-weight: 600;
      margin-bottom: 5px;
    }

    .service-subtitle {
      color: $secondary-font-color;
      margin-bottom: 5px;
    }
  }

  .author-details {
    padding: 10px 15px;
    .author {
      float: left;

      .author-image {
        display: inline-block;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;

        img {
          width: 100%;
        }
      }

      .author-info {
        display: inline-block;

        .author-name,
        .author-position {
          margin: 0 0 5px;
        }

        .author-position {
          color: $secondary-font-color;
          font-size: $small-font;
        }
      }
    }

    .author-options {
      float: right;
      line-height: 3;
    }
  }

  .service-footer {
    padding: 10px 15px;

    .author-recommended {
      display: block;
      float: left;

      .author {
        display: block;
        font-weight: 700;
      }

      .service-recommendation {
        display: block;
      }
    }

    .service-price {
      display: inline-block;
      float: right;
      text-align: right;

      .price {
        display: block;
        font-size: 1.42rem;
        font-weight: 700;
        line-height: 1.42rem;
      }

      .time {
        display: block;
        font-weight: 700;
        color: $secondary-font-color;
      }
    }

    .service-price::after {
      content: '';
      clear: both;
      display: block;
      height: 0;
    }
  }

  .custom-service {
    padding: 10px 15px;
    text-align: center;

    .img-responsive {
      padding: 15%;
    }

    .service-title {
      color: $pink-600 !important;
      font-weight: 700;
      font-size: 1.42rem;
    }
    .service-subtitle {
      color: $secondary-font-color !important;
    }
  }
}

.alternate {
  .alt-image {
    order: 1;
  }

  .alt-text {
    order: 2;
  }
}

/* ======================================== ABOUT US ======================================== */
/* ======================================== REFERENCES ======================================== */
/* ======================================== BLOG ======================================== */
.blog-posts-wrapper {
  .blog-post {
    flex-basis: 50%;

    .box {
      display: flex;
      flex-direction: column;
    }

    .blp-featured-image {
      background: url('../../assets/images/custom/freelancer_rs_blog_default_featured_image.jpg');
      background-size: cover;
      max-height: 140px;
      height: 140px;
      overflow: hidden;

      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .blp-post-desc {
      flex-grow: 1;
      margin-bottom: auto;
      padding: 30px 15px 24px;

      .post-title {
        color: $base-font-color;
      }

      .post-excerpt {
        //line-height: 1.3;
        margin: 0;
      }
    }

    .blp-post-footer {
      margin-top: auto;
      padding: 8px;

      .post-actions {
        display: inline-block;
      }

      .read-more {
        //
      }
    }
  }

  nav {
    text-align: center;
    width: 100%;
  }
}

// Sidebar
.trending-posts {
  box-sizing: border-box;
  list-style: none;
  padding: 0;

  .trending-post {
    border-bottom: 1px solid $divider-color;
    display: flex;

    .trending-post-img {
      background: url('../../assets/images/custom/freelancer_rs_blog_default_featured_image.jpg');
      background-size: cover;
      width: 75px;
      height: 110px;
      overflow: hidden;
      position: relative;
      float: left;
      margin-right: 10px;
      flex-shrink: 0;

      .tp-img-wrap {
        position: relative;
        float: right;
        right: 50%;
        height: 100%;
      }

      img {
        position: relative;
        right: -50%;
        height: 100%;
      }
    }

    .trending-post-desc {
      display: table-cell;
      height: 110px;
      vertical-align: middle;
    }

    a {
      color: $base-font-color !important;
    }
  }
}

/* ======================================== BLOG/POST ======================================== */

.quote {
  font-style: italic;
  display: block;
  padding-left: 15px;
  position: relative;
  font-size: 1.71rem; //24px
  margin: 60px 0;
  border-left: 4px solid $green-600;
  color: $secondary-font-color;

  .quote-author::before {
    content: '- ';
  }

  .quote-author {
    font-size: 1.28rem;
    font-weight: 700;
    display: block;
    text-align: right;
  }
}

.blog-post {
  .featured-image {
    margin-bottom: 30px;
  }

  .blog-post-content {
    padding: 30px 0;
    border-bottom: 1px solid $divider-color;

    .img-responsive {
      margin: 30px 0;
    }
  }

  .author,
  .post-tags,
  .social {
    padding: 15px 0;
  }

  .social {
    .btn-groups {
      margin-bottom: 0;
      padding: 5px 0;

      .btn {
        border: 0;
      }
    }
  }
}

/* ======================================== CONTACT ======================================== */
/* ======================================== SIGN IN ======================================== */
/* ======================================== SIGN UP ======================================== */
/* ======================================== USER PROFILES ======================================== */
.freelancers {
  .freelancer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 30px 15px;

    .freelancer-img {
      display: block;
      margin: 0 auto 15px;
      max-height: 182px;
      max-width: 182px;
      position: relative;
      overflow: hidden;

      img {
        //
      }

      .view-profile {
        -webkit-transition: opacity .2s;
        background: $overlay-pink;
        border-radius: 50%;
        color: $bw-50;
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        height: 100%;
        line-height: 182px;
        max-height: 182px;
        opacity: 0;
        position: absolute;
        text-align: center;
        top: 0;
        transition: opacity .2s;
        vertical-align: middle;
        width: 100%;
      }
    }

    .freelancer-view {
      .btn {
        width: 100%;
        height: auto;
      }
    }

    .freelancer-rate {
      display: block;
      float: right;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .freelancer-name {
      a {
        color: $pink-600;
      }
    }

    .freelancer-subtitle {
      color: $green-600;

      .member-since {
        margin-right: 15px;
      }

      .from {
        //
      }
    }

    .freelancer-desc {
      .read-more {
        //
      }
    }

    .freelancer-skill-tags {
      .tag {
        .label {
          background-color: $pink-600;
          color: $dark-base-font-color !important;
        }
      }

      .tag.more:last-child {
        .label {
          background-color: $bw-300;
          color: $dark-base-font-color !important;
        }
      }
    }
  }

  .freelancer:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28) !important;

    .freelancer-img {
      .view-profile {
        opacity: 1;
      }
    }
  }

  .freelancer:nth-last-child(2) {
    margin-bottom: 30px;
  }

  nav {
    text-align: center;
  }
}

/* ======================================== USER PROFILE ======================================== */
.freelance-category {
  padding: 15px;
  margin-bottom: 15px;

  .logo {
    display: inline-block;
    width: 58px;
    padding-right: 15px;
    border-right: 2px solid $bw-50;
    margin-right: 15px;
  }

  .category {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .links {
    display: block;
    float: right;

    .link {
      margin-bottom: 0;
      text-align: right;

      a {
        color: $bw-50 !important;
      }
    }
  }

  .links::after {
    content: "";
    display: table;
    clear: both;
  }
}

.freelancer-profile {
  .profile-section {
    border-bottom: 1px solid $divider-color;
    padding: 30px 0;
  }

  .freelancer-overview {
    padding-top: 0;

    .img-responsive {
      max-width: 260px;
      display: block;
      margin: 0 auto;
    }

    .freelancer-name {
      color: $pink-600;
    }

    .freelancer-subtitle {
      color: $green-600;

      .member-since {
        margin-right: 15px;
      }
    }

    .freelancer-skill-tags {
      .tag {
        .label {
          background-color: $pink-600;
          color: $dark-base-font-color !important;
        }
      }

      .tag.more:nth-last-child(2) {
        .label {
          background-color: $bw-300;
          color: $dark-base-font-color !important;
        }
      }

      .more-tags {
        display: inline;

        #more-tags.collapse.in {
          display: inline;
        }
      }
    }
  }

  .freelancer-specs {
    padding: 15px 0;

    .freelancer-experience,
    .freelancer-ratings,
    .freelancer-hire {
      margin-bottom: 15px;
    }

    .freelancer-experience {
      .xp-with {
        font-weight: 700;
      }

      .xp-with::after {
        content: ', ';
      }

      .xp-amount {
        //font-style: italic;
      }
    }

    .freelancer-ratings {
      .stat {
        border-bottom: 1px solid $divider-color;
        margin-bottom: 5px;
        padding: 5px 0;

        .title {
          display: block;
          width: 100%;
        }

        .progress {
          display: block;
          float: left;
          margin-bottom: 0;
          width: 90%;
        }

        .score {
          display: block;
          float: left;
          padding-left: 10px;
          text-align: right;
          width: 10%;
        }
      }

      .stat::after {
        content: '';
        clear: both;
        display: block;
        height: 0;
      }

      .stat:last-child {
        border-bottom: 0;
      }
    }

    .freelancer-hire {
      //align-items: center;
      display: flex;
      justify-content: center;
      //min-height: 300px;
      padding: 36px 0;

      .cta {
        margin-bottom: 0;
      }

      .rate {
        font-size: 1.71rem;
        font-weight: 800;
        text-align: center;

        .hourly-rate,
        .monthly-rate {
          display: inline-block;
        }

        .hourly-rate::after {
          content: ' |';
        }
      }
    }

    .freelancer-rate {
      display: block;
      float: right;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .freelancer-portfolio {
    // Masonry
  }

  .freelancer-reviews {
    border-bottom: 0;

    h5 {
      .label {
        vertical-align: -webkit-baseline-middle;
        vertical-align: -moz-middle-with-baseline;
        vertical-align: sub;
      }
    }

    .review {
      border-bottom: 1px solid $divider-color;
      display: block;
      margin-bottom: 15px;
      padding: 15px 0;

      .star-rating {
        color: $pink-600;
        font-size: 1.71rem;
        margin-bottom: 15px;
        text-align: center;
      }

      .review-text {
        margin-bottom: 10px;
        .read-more {
          //
        }
      }

      .client {
        .list-body::after {
          border-bottom: 0;
        }
      }
    }

    .review-nav {
      border-bottom: 1px solid $divider-color;
    }
  }
}

/* ======================================== 404 ======================================== */
.page-404 {
  display: flex;
  height: 100vh;
  padding: 15px;
  text-align: center;
  width: 100vw;

  .wrap-404 {
    align-self: center;
    width: 100vw;

    i {
      font-size: 20rem;
    }
  }
}

/* ======================================== 505 ======================================== */
.page-505 {
  display: flex;
  height: 100vh;
  padding: 15px;
  text-align: center;
  width: 100vw;

  .wrap-505 {
    align-self: center;
    width: 100vw;

    i {
      font-size: 20rem;
    }
  }
}

/* ======================================== RESPONSIVE ======================================== */

/* ------ Responsive - xl (>1200px) ------ */
@media (min-width: 1200px) {
  /* Titles */
  /* Buttons */
  /* Forms */
  /* App */
  /* Header */
  /* Nav */
  /* Footer */
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
    //Sidebar
    //Current projects
    //Freelancers
    //Services
    //Knowledge base
    //Tutorials
    //Blog
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  /* === USER PROFILE === */
}

/* ------ Responsive - lg (<1200px) ------ */
@media (max-width: 1199px) {
  /* Titles */
  /* Buttons */
  /* Forms */
  /* App */
  /* Header */
  /* Nav */
  /* Footer */
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
    //Sidebar
    //Current projects
    //Freelancers
    //Services
    //Knowledge base
    //Tutorials
    //Blog
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  /* === USER PROFILE === */
}

/* ------ Responsive - md (<992px) ------ */
@media (max-width: 991px) {
  html {
    //font-size: 13px;
  }
  /* Titles */
  /* Buttons */
  /* Forms */
  /* App */
  /* Header */
  /* Nav */
  /* Footer */
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
    //Sidebar
    //Current projects
    //Freelancers
    //Services
    .services > [class^='col-']:nth-child(3n+3),
    .services > [class*=' col-']:nth-child(3n+3) {
      border-right: 0;
    }
    //Knowledge base
    //Tutorials
    //Blog
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  /* === USER PROFILE === */
}

/* ------ Responsive - sm (<768px) ------ */
@media (max-width: 767px) {
  html {
    //font-size: 12px;
  }

  /* Titles */
  /* Buttons */
  /* Forms */
  /* App */
  /* Header */
  .header {
    text-align: center;

    .navbar-brand {
      display: inline-block;
      margin-right: 0;
      padding: 0 1rem;
    }

    .usr-signed-in,
    .usr-signed-out {
      display: inline-block;
      float: none;

      .btn {
        margin-top: 10px;
      }
    }

    .usr-signed-out {
      display: inline-block;
      float: none;
      width: 100%;
      text-align: center;

      .nav-item {
        display: inline-block;
        float: none;
        margin: 0 !important;
        padding: 0 5px;
      }
    }
  }
  /* Nav */
  .mobile-nav {
    margin: 0 1rem;
  }

  .main-nav {
    padding: 0;
    min-height: 42px;

    .nav {
      .nav-item:hover > .dropdown-menu {
        display: none;
      }

      .nav-item.open {
        background-color: transparent;
      }
    }

    .navbar-nav .open .dropdown-menu,
    .navbar-nav .open .dropdown-menu .open {
      -webkit-box-shadow: none;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      display: block !important;
      float: none;
      margin-top: 0;
      padding: 5px 15px;
      position: static;
      width: auto;
    }
  }
  /* Footer */
  .subfooter {
    text-align: center;

    .copyright,
    .social-nav {
      float: none;
    }
  }
  /* === HOME PAGE === */
  /* Hero section */
  /* Content */
    #current-projects .row [class*="col-"]:first-child,
    #knowledge-base .row [class*="col-"]:first-child {
      //margin-bottom: 60px;
    }
    //Sidebar
    .sidebar {
      display: none;
    }
    //Current projects
    .project {
      text-align: center;

      .project-attributes {
        margin-bottom: 15px;
      }

      .project-parameters {
        span:first-child {
          padding: 0 0 5px !important;
        }
      }
    }
    //Freelancers
    //Services
    .services > [class^='col-']:nth-child(3n+3),
    .services > [class*=' col-']:nth-child(3n+3) {
      border-right: 1px solid $divider-color;
    }

    .services > [class^='col-']:nth-child(2n+2),
    .services > [class*=' col-']:nth-child(2n+2) {
      border-right: 0;
    }
    //Knowledge base
    .answer {
      .answer-parameters {
        span:first-child {
          padding: 0 0 5px !important;
        }
      }
    }
    //Tutorials
    //Blog
    .latest-post {
      margin-bottom: 60px;
    }
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  .alternate {
    .row {
      display: flex;
      flex-direction: column;
    }

    .alt-image {
      img {
        padding: 30px 60px;
      }
    }
  }
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  .freelancer-view {
    display: block;
    margin-bottom: 30px;
  }
  /* === USER PROFILE === */
  .freelancer-profile {
    .freelancer-overview,
    .freelancer-specs {
      text-align: center;
    }

    .freelancer-overview {
      .img-responsive {
        border-radius: 50%;
        margin-bottom: 15px;
      }
    }

    .freelancer-specs {
      .freelancer-experience {
        border-bottom: 1px solid $divider-color;
        margin-bottom: 30px;
        padding-bottom: 10px;
      }
    }

    .freelancer-portfolio,
    .freelancer-reviews {
      h5 {
        text-align: center;
      }
    }
  }
  /* === ERROR 404 === */
  .page-404 {
    .wrap-404 {
      i {
        font-size: 15rem;
      }
    }
  }
  /* === ERROR 505 === */
  .page-505 {
    .wrap-505 {
      i {
        font-size: 15rem;
      }
    }
  }
}

/* ------ Responsive - xs (<544px) ------ */
@media (max-width: 543px) {
  /* Titles */
  /* Buttons */
  /* Forms */
  /* App */
  /* Header */
  /* Nav */
  /* Footer */
  .app-footer {
    text-align: center;

    .fc-green,
    .fc-red,
    .fc-yellow,
    .fc-blue {
      margin-bottom: 15px;
    }
  }
  /* === HOME PAGE === */
  /* Hero section */
  .h-trending-services {
    display: none !important;
  }
  /* Content */
    //Sidebar
    //Current projects
    //Freelancers
    //Services
    .services > [class^='col-']:nth-child(3n+3),
    .services > [class*=' col-']:nth-child(3n+3) {
      border-right: 0;
    }

    .services > [class^='col-']:nth-child(2n+2),
    .services > [class*=' col-']:nth-child(2n+2) {
      border-right: 0;
    }

    .services > [class^='col-'],
    .services > [class*=' col-'] {
      border-right: 0;
    }
    //Knowledge base
    .answer {
      text-align: center;

      .answer-attributes {
        margin-bottom: 15px;
      }

      .answer-parameters {
        span:first-child,
        span.answer-date {
          display: inline-block;
          font-size: 1.28rem;
          padding: 0 !important;
        }

        span.answer-header {
          font-weight: 400;
          text-transform: capitalize;
          border-bottom: 0;
        }

        span.answer-header::after {
          content: ': ';
        }
      }
    }
    //Tutorials
    //Blog
  /* === SINGLE PAGE === */
  /* === SERVICES === */
  /* === ABOUT US === */
  /* === REFERENCES === */
  /* === BLOG === */
  /* === CONTACT === */
  /* === SIGN IN === */
  /* === SIGN UP === */
  /* === USER PROFILES === */
  .member-since {
    display: block;
    margin-right: 0;
    width: 100%;
  }

  .from {
    display: block;
    margin-right: 0;
    width: 100%;
  }
  /* === USER PROFILE === */
}

/* ------ Responsive - other elements ------ */
@media (max-width: 750px) {
  .flex {
    display: block;
  }
}

@media (max-width: 452px) {
  .usr-signed-in {
    .user {
      .dropdown-menu {
        width: 98vw;
        left: -50vw;

        .usr-profile {
          padding: 28px 0;
        }

        .usr-mail {
          overflow-wrap: break-word;
        }
      }

      .dropdown-menu:before {
        right: 48vw !important;
      }
    }

    .notifications {
      .dropdown-menu {
        width: 98vw;
        right: -51vw;
      }
    }
  }
}
