/* ------ Variables ------ */

/* Font settings */

$base-font-size: 14px;
$base-font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-color: rgba(0, 0, 0, 0.87);
$secondary-font-color: rgba(0, 0, 0, 0.54);
$disabled-font-color: rgba(0, 0, 0, 0.38);

$dark-base-font-color: rgba(255, 255, 255, 1);
$dark-secondary-font-color: rgba(255, 255, 255, 0.7);
$dark-disabled-font-color: rgba(255, 255, 255, 0.5);

$small-font: 12px;

// Titles
$h1-size: 42px;
$h1-weight: 600;

$h2-size: 36px;
$h2-weight: 600;

$h3-size: 32px;
$h3-weight: 600;

$h4-size: 28px;
$h4-weight: 500;

$h5-size: 24px;
$h5-weight: 400;

$h6-size: 18px;
$h6-weight: 400;

/* Colors */
// BW
$bw-50: #fff;
$bw-100: #e5e5e5;
$bw-200: #ccc;
$bw-300: #b2b2b2;
$bw-400: #999;
$bw-500: #808080;
$bw-600: #666;
$bw-700: #4c4c4c;
$bw-800: #333;
$bw-900: #1a1a1a;
// BWm
$bwm-50: #fafafa;
$bwm-100: #f5f5f5;
$bwm-200: #eee;
$bwm-300: #e0e0e0;
$bwm-400: #bdbdbd;
$bwm-500: #9e9e9e;
$bwm-600: #757575;
$bwm-700: #616161;
$bwm-800: #424242;
$bwm-900: #212121;
// Pink
$pink-50: #fce4ec;
$pink-100: #f8bbd0;
$pink-200: #f48fb1;
$pink-300: #f06292;
$pink-400: #ec407a;
$pink-500: #e91e63;
$pink-600: #d81b60;
$pink-700: #c2185b;
$pink-800: #ad1457;
$pink-900: #880e4f;
$pink-a100: #ff80ab;
$pink-a200: #ff4081;
$pink-a400: #f50057;
$pink-a700: #c51162;
$pink-g: #fcf0f3;
// Green
$green-50: #e5fff9;
$green-100: #b0f5e5;
$green-200: #7febd3;
$green-300: #51e0c1;
$green-400: #27d6b0;
$green-500: #00c99e;
$green-600: #00ab86;
$green-700: #008c6e;
$green-800: #006e56;
$green-900: #004c3c;
$green-a100: #a6ffea;
$green-a200: #66ffde;
$green-a400: #12ffcc;
$green-a700: #00d4a6;
$green-g: #e8f5f3;
//System colors
$sys-green: #009f29;
$sys-red: #dc0000;
$sys-yellow: #ff8a00;
$sys-blue: #1292db;
//Project Status
$project-finished: #808080;
$project-ending: #dc0000;
$project-in-progress: #009f29;
$project-new: #ff8a00;
//Divider color
$divider-color: rgba(0, 0, 0, 0.12);
//Shadow
$shadow: rgba(0, 0, 0, 0.28);
$shadow-rise: rgba(0, 0, 0, 0.4);
$service-hover: rgba(0, 0, 0, 0.15);
$button-hover: rgba(0, 0, 0, 0.12);
